{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}">
  <style>

  </style>
{% endblock %}

{% block main %}
  <h3 style="color: #00aaaa;font-family: 'Apple Braille',serif" class="page-title"> title
    <label>
      <input placeholder=""/>
    </label>
  </h3>
  <div id="test-editor">
    <label>
      <textarea style="display:none;"></textarea>
    </label>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
  <script type="text/javascript">
    $(function() {
      const editor = editormd("test-editor", {
        width: "90%",
        height: 800,
        path: "{{ url_for('static', filename='editormd/lib/') }}"
      });
    })
  </script>
{% endblock %}
