{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}">
{% endblock %}

{% block main %}
  <h3 class="page-title">Title 👉 <input placeholder=""/></h3>
  <div id="test-editor">
    <textarea style="display:none;">### 关于 Editor.md
  **Editor.md** 是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。
    </textarea>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
  <script type="text/javascript">
    $(function() {
      var editor = editormd("test-editor", {
        width: "90%",
        height: 680,
        path: "{{ url_for('static', filename='editormd/lib/') }}"
      })
    })
  </script>
  </html>
{% endblock %}
