<!-- auth login -->
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css') }}">
{% endblock %}

{% block main %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <li> 🤪 {{ message }} </li>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h3 class="page-title">Login</h3>
  {{ wtf.quick_form(form) }}
{% endblock %}
